@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if(_user == null)
            {
                <Button 
                    Type="ButtonType.Button"
                    @onclick="NavigateToLogin">
                    Zaloguj</Button>
                <Button 
                    Type="ButtonType.Button"
                    @onclick="NavigateToRegister">
                    Zarejestruj</Button>
            }
            else
            {
                <Text>Cześć, @_user.Username!</Text>
                <Button 
                    Type="ButtonType.Button"
                    @onclick="Logout">
                    Wyloguj</Button>
            }

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
