<div class="list-item row justify-content-center">
    <div class="col-3 list-item-img">
        <Figure>
            <FigureImage Rounded="true" Source="@Item.Photos.FirstOrDefault()?.Source" AlternateText="256x256"></FigureImage>
        </Figure>
    </div>
    <div class="col item-brief-description mb-2">
        <ListItemDetails Item="Item" />
    </div>
    <div class="col-auto">
        <ListItemActions Item="Item" />
    </div>
</div>

<style>
    .item-brief-description {
        min-width: 200px;
    }

    .list-item-img {
        min-width: 280px;
    }
</style>