<div class="list-item row justify-content-center">
    <div class="col-3">
        <Figure class="mb-4">
            <FigureImage Rounded="true" Source="sample-data/assets/256x256.png" AlternateText="256x256"></FigureImage>
        </Figure>
    </div>
    <div class="col-6">
        <ListItemDetails Item="Item" />
    </div>
    <div class="col-3">
        <ListItemActions Item="Item" />
    </div>
</div>

<style>
    .figure-img {
        width: 180px;
    }

    .list-item {
        height: 180px;
    }
</style>