@page "/"

<div class="row justify-content-center">
    <div class="col-12">
        <Table FullWidth="true" Hoverable="false" >
            <TableHeader ThemeContrast="ThemeContrast.Dark">
                <TableRow>
                    <TableHeaderCell class="row justify-content-center">
                        <!--Sort-->
                        <div class="col-6">
                            <Field>
                                <FieldLabel>Filtry</FieldLabel>
                                <Select TValue="Sort" SelectedValueChanged="SortList">
                                    @foreach(var sort in Enum.GetValues(typeof(Sort)).Cast<Sort>())
                                    {
                                        <SelectItem Value="@sort">@sort</SelectItem>
                                    } 
                                </Select>
                            </Field>
                        </div>
                        <!--Filters-->
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @if(_adverts != null)
                {
                    @foreach (var advert in _adverts)
                    {
                        <TableRow>
                            <TableRowCell>
                                <ListItem Item="advert"/>
                            </TableRowCell>
                        </TableRow>
                    }
                }
            </TableBody>
        </Table>
    </div>
</div>