@page "/"

<div class="row justify-content-center">
    <div class="col-12">
        <Table FullWidth="true" Hoverable="false" >
            <TableHeader ThemeContrast="ThemeContrast.Dark">
                <TableRow>
                    <TableHeaderCell>
                        <!--Filters-->
                    </TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @if(_adverts != null)
                {
                    @foreach (var advert in _adverts)
                    {
                        <TableRow>
                            <TableRowCell>
                                <ListItem Item="advert"/>
                            </TableRowCell>
                        </TableRow>
                    }
                }
            </TableBody>
        </Table>
    </div>
</div>