<div class="row justify-content-right">
    <div class="col"></div>
    <div class="col-auto">
        <Button 
            Type="ButtonType.Button" 
            Color="Color.Success"
            @onclick="NavigateToDetailed">
            Przejdź do oferty</Button>
    </div>
    <div class="col-auto">
        <Button 
            Type="ButtonType.Button" 
            Color="Color.Success"
            @onclick="NavigateToEdit">
            Edytuj ofertę</Button>
    </div>
</div>