<div class="row justify-content-right">
    <div class="col"></div>
    <div class="col row justify-content-center">
        <div class="col-12 p-1">
            <Heading Size="HeadingSize.Is3">@Item?.Price zł</Heading>
        </div>
        <div class="col-12 p-1">
            <Button 
                Type="ButtonType.Button" 
                Color="Color.Success"
                @onclick="NavigateToDetailed">
                Przejdź do oferty</Button>
        </div>
        @if(User.Id == Item.UserId)
        {
            <div class="col-12 p-1">
                <Button 
                    Type="ButtonType.Button" 
                    Color="Color.Success"
                    @onclick="NavigateToEdit">
                    Edytuj ofertę</Button>
            </div>
        }
    </div>
</div>