@page "/"

<div class="row justify-content-center">
    <div class="col-12">
        <Table FullWidth="true" Hoverable="true" >
            <TableHeader ThemeContrast="ThemeContrast.Dark">
                <TableRow>
                    <TableHeaderCell>#</TableHeaderCell>
                    <TableHeaderCell>First Name</TableHeaderCell>
                    <TableHeaderCell>Last Name</TableHeaderCell>
                    <TableHeaderCell>Username</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var advert in _adverts)
                {
                    <GridItem Item="advert"/>
                }
            </TableBody>
        </Table>
    </div>
</div>